 <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6">
        <!-- *** -->
 <!-- <form [formGroup]="loginForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [pattern]="emailRegex" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div> -->
  <form #loginForm="ngForm">
    <!-- <div class="form-group"> -->
      <label>Email</label>
      <input #emailInput="ngModel" ngModel name="email" type="text" class="form-control" placeholder="Enter email" [pattern]="emailRegex" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <p class="error" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</p>
    <!-- </div> -->
    <!-- <div class="form-group"> -->
    <label>Password</label>
    <input #passwordInput="ngModel" ngModel name="password" type="password" class="form-control" placeholder="Password" minlength="6" required>
    <div class="error" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password</div>
   <label class="error">{{errorMessage}}</label>
   <label class="success">{{successMessage}}</label>
   
    <!-- </div> -->
    <div>
      <button [disabled]="loginForm.invalid" type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary bg-dark">Login</button>
    </div>
    </form>
<!-- *** -->
</div>
</div>
</div>