<!-- <div>Book an appointment!</div> -->

<!-- <form #createForm="ngForm" (ngSubmit)="OnSubmit()">
<div class="container">
  <div class="row">
      <div class='col-sm-10'>
          <div class="form-group">
            <label for="appoinmentTime">Please select time:</label>
             <input #timeInput="ngModel" name="time" id="appoinmentTime" type="datetime-local" value="2020-02-22T13:00" ngModel required>  
          </div>
      </div>
   </div>
   <button type="submit" class="btn btn-success bg-dark"  (click)="bookAppointmentHandler(dentist, createForm.value)" [routerLink]="['/create']">Book an appointment</button>
  </div>
  <br>
</form> -->


<form #dateForm="ngForm" (ngSubmit)="OnSubmit()">
  <div class="container">
    <div class="row">
        <div class='col-sm-10'>
            <div class="form-group">
              <label>Please select time:</label>
              <input #dateInput="ngModel" ngModel name="time" type="text" class="form-control" placeholder="mm-dd-yyyy hh:mm:ss" [pattern]="dateRegex" required>
              <small id="emailHelp" class="form-text text-muted">Please enter date and time in format "mm-dd-yyyy hh:mm:ss"</small>
              <p class="error" *ngIf="dateInput.invalid && dateInput.touched">Please enter valid date and time!</p>
              </div>
            </div>
          </div>
        </div>
      <div>
        <button  type="submit" [disabled]="dateForm.invalid" (click)="bookAppointmentHandler(dentist, dateForm.value)" [routerLink]="['/create']" class="btn btn-primary bg-dark">Book an appointment</button>
      </div>
      <br>
  </form>
