      <div class="col-xs-12">
        <h1 class="text-center">{{dentist.name}}</h1>
      </div>
    
    <hr>
    <div class="col-xs-12">
      <div class="text-center">{{dentist.clinic}}</div>
    </div>
    
    
    
    <hr>

  <div>Book an appointment!</div>
  
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
               <input  type="datetime-local" value="2020-02-22T13:00">  
            </div>
        </div>
        
           </div>
</div>

        
        <button type="button" class="btn btn-success" (click)="bookAppointmentHandler()" [routerLink]="['/appointment']">Book an appointment!</button>
    