<p>detail works!</p>

    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">{{dentist.name}}</h1>
      </div>
    <!-- </div>
    <div class="row">
      <div class="col-xs-12">
        <img [src]="selectedCause.imageUrl" alt="" class="img-responsive img-details">
      </div>
    </div> -->
    <hr>
    <div class="row">
      <div class="col-xs-12 cause-description">{{dentist.clinic}}</div>
    </div>
    
    <!-- <div class="row">
      <div class="col-xs-12">
        <div class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="donatedAmount"></label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input #amountInput type="number" class="form-control" id="donatedAmount" placeholder="Amount">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="makeDonationhandler()">Make
            donation</button>
        </div>
      </div> -->
    </div>
    <hr>

  <div>Book an appointment!</div>
  <!-- Show a date/time input and confirm button!
    -->
