<div *ngIf="dentists" class="container body-content">

<div class="media" *ngFor="let dentist of dentists">
  <div class="media-left">
      <a href="#">
          <img style=" width: 220px; height: 130px" class="media-object img-size" src="{{dentist.image}}">
      </a>
  </div>
 
  <div class="media-body">
      <h4 class="media-heading">{{dentist.name}}</h4>
      Clinic: {{ dentist.clinic }}
      <br>
      <a [routerLink]="['/detail/', dentist.id]">Book an appointment</a>
    
    </div>
 
 </div>
 
