<div class="row">
    <div class="col-xs-4" *ngIf="dentists">
          <a *ngFor="let dentist of dentists" >
            <h2> {{dentist.name}} </h2>
      <p>Clinic: {{ dentist.clinic }}</p>
      <a [routerLink]="['/detail/', dentist.id]">Book an appointment</a>
        </a>    
    </div>
</div>



<!-- <div class="media" *ngIf="dentists">
  <div class="media-left">
      <a href="#">
          <img style=" width: 220px; height: 130px" class="media-object img-size" src="">
      </a>
  </div>
  <div class="media-body">
      <h4 class="media-heading">{{dentist.name}}</h4>
      {{ dentist.clinic }}
      <br>
      <a [routerLink]="['/detail/', dentist.id]">Book an appointment</a>
  </div>
 </div> -->