  <div class="container">
  <nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">Denthub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">
        <li>
        <a class="nav-item nav-link" *ngIf="userService.isLogged" routerLink="dentist">Book Appointment</a>
        </li>
        <li>
        <a class="nav-item nav-link" *ngIf="userService.isLogged" routerLink="appointment">My Appointments</a>
        </li>
        <li>
        <a class="nav-item nav-link" *ngIf="userService.isLogged">Welcome, {{userService.currentUserEmail}}!</a>
        </li>
        <li>
        <a class="nav-item nav-link" *ngIf="userService.isLogged" (click)="logout()">Logout</a>
        </li>
        <li>
        <a class="nav-item nav-link" *ngIf="!userService.isLogged" routerLink="login">Login</a>
        </li>
        <li>
        <a class="nav-item nav-link" *ngIf="!userService.isLogged" routerLink="register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>